#root {
  margin: 0;
  padding: 0;
  text-align: left;
}
#admin-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: flex-start;
}

/* LOADER SPINNER */
.loader-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f4ec;
}

.loader {
  width: 58px;
  height: 58px;
  border: 5px solid #e3e3e3;
  border-top-color: #62c071;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}







